<footer class="bg-white rounded shadow p-3 mb-4 mt-4">
    <div class="row">
        <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0">
            <p class="mb-0 text-center text-lg-start">© <span class="current-year"></span> <a
                    class="text-primary fw-normal" href="https://youtu.be/dQw4w9WgXcQ?si=f_S6wWaK4HqAUkN8"
                    target="_blank">Kelompok 9</a>
            </p>
            <p>Albet Novendo | Jesen Jeverlino | Delvin Jason | Syasya Tri Puspita Dewi | Julianto</p>
        </div>
        <div class="col-12 col-md-8 col-xl-6 text-center text-lg-start">
            <!-- List -->
            <ul class="list-inline list-group-flush list-group-borderless text-md-end mb-0">
                <li class="list-inline-item px-0 px-sm-2">
                    Cloth
                </li>
            </ul>
        </div>
    </div>
</footer>
<p style="color: transparent;">Yang penting apa?? yang penting?? jadi!</p>
